<div class="product-card">
    <img [src]="product.images[0]" (error)="onImageError($event)" [alt]="product.title" class="product-image" />
    <div class="product-info">
        <h3>{{ product.title }}</h3>
        <p>{{ product.price | currency }}</p>
        <span class="product-category">{{ product.category.name }}</span>
    </div>
    <div class="produc-action">
        <button class="cart-btn" (click)="addToCart(product)" title="Agregar al carrito">
            <mat-icon class="color-icon">
                shopping_cart
            </mat-icon>
        </button>
    </div>
</div>